<h1> blah </h1>


 <div class="clearfix"> 
  <div class='my-courses-left'>
    <ul class="courses unstyled">
      {{link-to 'draft' 'courses.drafts'}}
      {{link-to 'publish' 'courses.published'}}
      {{link-to 'review' 'courses.review'}}
    </ul>
  </div>
  <div class='my-courses-right'>
    {{outlet}}
    {{#each this}}
      <h1> {{this.id}} + {{this.description}}</h1>
    {{/each}}
  </div>        
</div>


